In [1]:
# Import csv, pandas and numpy
import pandas as pd
import numpy as np

al_df = pd.read_csv(r"C:\Users\arund\Prospect_week\al_historical_results.csv")
al_df.head()

# Check dataframe description and data types
print(al_df.dtypes)

Fixture_ID      int64
Season         object
Competition    object
Date           object
Home_Team      object
Away_Team      object
Score          object
Homegoals      object
Awaygoals      object
dtype: object

In [2]:
# Convert Date to pandas datetime type
al_df['Date'] = pd.to_datetime(al_df['Date'], format='%d/%m/%y')

# Create Comments column for descriptions of atypical results from Score column
# Convert Homegoals and Awaygoals to numeric type (nulls for descriptive entries) and then to Int64
# Drop Score column
# Check datatypes

al_df['Comments'] = np.where(al_df['Score'].str.contains(r'\d', na=False), np.nan, al_df['Score'])

al_df['Homegoals'] = pd.to_numeric(al_df['Homegoals'], errors='coerce')
al_df['Awaygoals'] = pd.to_numeric(al_df['Awaygoals'], errors='coerce')

al_df['Homegoals'] = al_df['Homegoals'].astype('Int64')
al_df['Awaygoals'] = al_df['Awaygoals'].astype('Int64')

al_df.drop('Score', axis=1, inplace=True)

# Create separate dataframes for normal and unexpected results
results_other = al_df.dropna(subset=['Comments'])
results_normal = al_df.dropna(subset=['Homegoals'])

print(al_df.head())
print(results_normal.head())
print(results_other.head())

   Fixture_ID   Season Competition       Date          Home_Team  \
0    12649002  2012-13        DIV5 2013-05-25  Old Brentwoods IV
1    12649001  2012-13        DIV5 2013-05-18  Old Brentwoods IV
2    12637620  2012-13        PREM 2013-05-11   Lancing Old Boys
3    12639446  2012-13        PREM 2013-05-11       Old Etonians
4    12639447  2012-13        DIV1 2013-05-11    Old Malvernians

            Away_Team  Homegoals  Awaygoals Comments
0    Old Foresters IV          8          4      NaN
1  Old Brentwoods III          5          3      NaN
2        KCS Old Boys          1          1      NaN
3    Old Chigwellians          4          0      NaN
4   Old Haileyburians          1          3      NaN
   Fixture_ID   Season Competition       Date          Home_Team  \
0    12649002  2012-13        DIV5 2013-05-25  Old Brentwoods IV
1    12649001  2012-13        DIV5 2013-05-18  Old Brentwoods IV
2    12637620  2012-13        PREM 2013-05-11   Lancing Old Boys
3    12639446  2012-13        PREM 2013-05-11       Old Etonians
4    12639447  2012-13        DIV1 2013-05-11    Old Malvernians

            Away_Team  Homegoals  Awaygoals Comments
0    Old Foresters IV          8          4      NaN
1  Old Brentwoods III          5          3      NaN
2        KCS Old Boys          1          1      NaN
3    Old Chigwellians          4          0      NaN
4   Old Haileyburians          1          3      NaN
    Fixture_ID   Season Competition       Date            Home_Team  \
7     12631636  2012-13        DIV4 2013-05-11    Old Amplefordians
30    12638917  2012-13        DIV2 2013-04-27  Old Carthusians III
53    12631551  2012-13        DIV5 2013-04-14         Old Citizens
69    12626280  2012-13        DIV5 2013-04-13   Old Malvernians II
89    12626933  2012-13        DIV5 2013-03-30   Old Malvernians II

              Away_Team  Homegoals  Awaygoals       Comments
7   Old Westminsters II       <NA>       <NA>  Away Walkover
30     Old Salopians II       <NA>       <NA>  Home Walkover
53  Old Chigwellians IV       <NA>       <NA>  Home Walkover
69     Old Foresters IV       <NA>       <NA>  Home Walkover
89  Old Cholmeleians IV       <NA>       <NA>  Home Walkover

In [3]:
# Drop uneccessary columns from new dataframes
results_normal.drop('Comments', axis=1, inplace=True)
results_other.drop(['Homegoals', 'Awaygoals'], axis=1, inplace=True)
print(results_normal.head())
print(results_other.head())

   Fixture_ID   Season Competition       Date          Home_Team  \
0    12649002  2012-13        DIV5 2013-05-25  Old Brentwoods IV
1    12649001  2012-13        DIV5 2013-05-18  Old Brentwoods IV
2    12637620  2012-13        PREM 2013-05-11   Lancing Old Boys
3    12639446  2012-13        PREM 2013-05-11       Old Etonians
4    12639447  2012-13        DIV1 2013-05-11    Old Malvernians

            Away_Team  Homegoals  Awaygoals
0    Old Foresters IV          8          4
1  Old Brentwoods III          5          3
2        KCS Old Boys          1          1
3    Old Chigwellians          4          0
4   Old Haileyburians          1          3
    Fixture_ID   Season Competition       Date            Home_Team  \
7     12631636  2012-13        DIV4 2013-05-11    Old Amplefordians
30    12638917  2012-13        DIV2 2013-04-27  Old Carthusians III
53    12631551  2012-13        DIV5 2013-04-14         Old Citizens
69    12626280  2012-13        DIV5 2013-04-13   Old Malvernians II
89    12626933  2012-13        DIV5 2013-03-30   Old Malvernians II

              Away_Team       Comments
7   Old Westminsters II  Away Walkover
30     Old Salopians II  Home Walkover
53  Old Chigwellians IV  Home Walkover
69     Old Foresters IV  Home Walkover
89  Old Cholmeleians IV  Home Walkover

C:\Users\arund\AppData\Local\Temp\ipykernel_34412\3643761920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_normal.drop('Comments', axis=1, inplace=True)
C:\Users\arund\AppData\Local\Temp\ipykernel_34412\3643761920.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_other.drop(['Homegoals', 'Awaygoals'], axis=1, inplace=True)

In [4]:
import os
al_df.to_csv("al_data.csv")
results_normal.to_csv("al_results_normal.csv")
results_other.to_csv("al_results_other.csv")

os.path.exists("al_data.csv")
os.path.exists("al_results_normal.csv")
os.path.exists("al_results_other.csv")

True